<div class="col-md-4">
    <div class="panel panel-default panel-traffic-light">
        <div class="panel-heading">
            {{ title }}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <a href="{% url 'machine_list_front' 'FireWallStatus' 'firewallstatus_on' %}" class="btn btn-success">
			<span class="bigger"> {{ firewallstatus_on }} </span><br />
			Enabled
          </a>

          <a href="{% url 'machine_list_front' 'FireWallStatus' 'firewallstatus_off' %}" class="btn btn-danger">
                        <span class="bigger"> {{ firewallstatus_off }} </span><br />
                        Disabled
          </a>
        </div>
      </div>
</div>
