<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ title }}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <a href="{% url 'machine_list_id' 'FireWallStatus' 'firewallstatus_on' page theid %}" class="btn btn-success">
			<span class="bigger"> {{ firewallstatus_on }} </span><br />
			Enabled
          </a>

          <a href="{% url 'machine_list_id' 'FireWallStatus' 'firewallstatus_off' page theid %}" class="btn btn-danger">
                        <span class="bigger"> {{ firewallstatus_off }} </span><br />
                        Disabled
          </a>
      </div>
    </div>
</div>
